@page {
  size: A4;
  margin-bottom: 10cm;
}

body {
    background-color: black;
}

h1 {
    text-align: center;
    color: rgb(2, 100, 228);
}
.dataframe {
    font-family: "Lucida Console", Monaco, monospace;
    border: 3px solid rgb(2, 100, 228);
    background-color: #11100F;
    text-align: center;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
  }  
  .dataframe td, dataframe th {
    border: 2px solid cornflowerblue;
    padding: 7px 6px;
    width: 20%;
    height: 100px;
  }
  .dataframe tbody td {
    font-size: 14px;
    color: white;
    width: 20%;
  }
  .dataframe tr:nth-child(even) {
    background:rgb(2, 100, 228);
  }
  .dataframe tr:nth-child(odd) {
    background:black;
  }