@page {
    size: A4;
    margin-bottom: 10cm;
  }
  
  body {
      background-color: white;
  }
  
  h1 {
      text-align: center;
      color:black;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .dataframe {
      font-family: "Lucida Console", Monaco, monospace;
      border: 3px solid black;
      background-color: #11100F;
      text-align: center;
      border-collapse: collapse;
      table-layout: fixed;
      width: 100%;
    }  
    .dataframe td, dataframe th {
      border: 2px solid black;
      padding: 7px 6px;
      width: 20%;
      height: 100px;
    }
    .dataframe tbody td {
      font-size: 14px;
      color: black;
      width: 20%;
    }
    .dataframe tr:nth-child(even) {
      background:rgb(255, 136, 0);
    }
    .dataframe tr:nth-child(odd) {
      background:white;
    }